* {
    font-family: Arial, Helvetica, sans-serif;
}

body {    
    color: white
}

.container {
    width:970px;
    height:80%;
    margin: 0 auto; /* workw when width, height is difined*/

}

.top {
    width:950px;
    height: 80px;
    background-color: red;
    border-radius: 15px;
    padding:0px 0px 0px 20px; /* top right bottom left */
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.top span {
    position: relative;
    top:25%;    
}

.container-content {
    display: flex;
}

.sidebar {
    min-width: 200px;
    height: 250px;
    background-color: rgb(149, 182, 182);
    border-radius: 15px;
    padding: 20px;
    
}

.content {
    width: 670px;
    height: 450px;
    font-size: 22px;
    font-weight: bold;;
    background-color: black;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left:20px;
    padding:20px;
    
}

.footer {
    width: 930px;
    background-color: gray;
    border-radius: 25px;
    padding: 20px
}
