#wrapper {
    margin: 0 auto;
    width: 1140px;
}

#header {
    width: 1120px;
    padding-left:20px;
    background-color: #f7f7f7;
    margin-bottom:10px;
}

#header h1{
    display: inline-block;
    vertical-align: middle;
    margin-right: 600px;
}

#header h2{
    display: inline-block;
    vertical-align: middle;
    
}

#content {
    background-color: rgb(82, 31, 31);
    width: 1120px;
    min-height: 300px;
    padding: 20px 0px 20px 20px; 
   
}

.top {
    padding: 20px;
    min-height: 300px;
    width: 1115px;
}



.photo {
    width: 480px;
    height: 320px;
    vertical-align: middle;
    margin: 5px;
}

.subcontent_left {
    width:490px;
    min-height: 300px;
    background-color: rgb(210, 210, 210);
    color: #606060;
    display: inline-block;
    margin-right:20px;    

}

.subcontent_right {
    width: 585px;
    min-height: 330px;
    background-color: rgb(237, 237, 237);
    color: #606060;
    display: inline-block;
    vertical-align: top;
}

.content_title {
    width:100%;
    height: 30px;
    background-color: gray;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-top:10px;
}

span {
    margin-left: 10px;
}

p {
    margin-left: 10px;
}

.bottom_content {
    width: 350px;
    min-height:500px;
    background-color: #f7f7f7;
    margin: 20px 20px 20px 0px;
    padding-bottom: 20px;
    display: inline-block;
}

.pic_frame {
    width:100%;
    height: 200px;
}

.icon {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 15px;
    display: inline-block;
}

button {
    min-width:50px;
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 10px;
    display: block;
    margin-top:10px;
}

.bttn01 {
    margin-left: 40%;
}

.bttn02 {
    margin-left: 35%;
}

.bttn03 {
    margin-left: 38%;
}

.footer {
    width: 1130px;
    height: 60px;
    padding: 10px 5px 10px 5px;
    background-color: #ededed;
    margin:10px 0 20px 0;

    text-align: center;
}

.contact {
    display: block;
    margin-bottom: 20px;
}

.sns {
    width:20px;
    height:20px;
    display: inline-block;
    vertical-align: middle;
}

.footer_link {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    color: gray;
    text-decoration: underline;
}